/* RESET */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  width: 100%;
  height: 100%;
}

body {
  background: #0b0f14;
  color: #00ff9d;
  font-family: monospace;
  -webkit-font-smoothing: antialiased;

  display: flex;
  justify-content: center;
  align-items: flex-start;

  padding: 10px;
}

/* TERMINAL */
.terminal {
  width: 100%;
  max-width: 900px;

  border: 1px solid #1f2a33;
  box-shadow: 0 0 20px rgba(0, 255, 157, 0.08);

  padding: 14px;

  display: flex;
  flex-direction: column;

  height: calc(100dvh - 20px);
}

/* HEADER */
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;

  border-bottom: 1px solid #1f2a33;
  padding-bottom: 10px;

  margin-bottom: 10px;
}

/* TITOLONE */
.title {
  font-size: 16px;
  letter-spacing: 1.5px;
  text-transform: uppercase;
  font-weight: 600;
}

/* LIVE PICCOLO */
#status {
  font-size: 11px;
  letter-spacing: 2px;
  color: #00ff9d;
  opacity: 0.9;
}

/* DESCRIPTION */
.description {
  font-size: 13px;
  color: #8aa0a6;
  line-height: 1.5;
  margin: 14px 0;
}

/* FEED */
.feed {
  flex: 1;
  overflow-y: auto;
  font-size: 13px;
  padding-right: 4px;
}

/* LINEE */
.line {
  padding: 9px 5px;
  border-bottom: 1px solid rgba(255, 255, 255, 0.05);

  display: flex;
  flex-wrap: wrap;
  gap: 10px;

  word-break: break-word;
}

.long {
  color: #00ff9d;
}

.short {
  color: #ff4d4d;
}

/* FOOTER */
.footer {
  margin-top: 12px;
  font-size: 11px;
  color: #8aa0a6;
  text-align: center;
}

/* 📱 MOBILE */
@media (max-width: 600px) {
  body {
    padding: 6px;
  }

  .terminal {
    padding: 10px;
    height: calc(100dvh - 12px);
    border-radius: 6px;
  }

  .title {
    font-size: 14px;
  }

  #status {
    font-size: 10px;
    letter-spacing: 1.5px;
  }

  .description {
    font-size: 11px;
    margin: 10px 0;
  }

  .feed,
  .line {
    font-size: 11px;
  }
}

.telegram-box{
    text-align:center;
    margin:8px 0 4px;
    color:#9aa0a6;
    font-size:14px;
}

.telegram-box p{
    margin:0;
    padding:0;
}

.telegram-box a{
    display:inline-block;
    margin:4px 0 0;
    padding:0;
    line-height:0;
}

.telegram-box img{
    display:block;
    width:38px;
    height:38px;
    filter:invert(52%) sepia(92%) saturate(1900%) hue-rotate(170deg);
}
